nav {
    width: 100%;
    border-color: black;
    padding: 1vw 1vw;
}

nav h1 {
    margin: 0;
    padding: 0;
    width: auto;
}

nav h1 img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: relative;
  top: 3px;
}

nav ul {
    margin: 0;    
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

li p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    padding-top: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    border-top: solid 1px #efefef;
}

main p {
  padding: 0.5em;
}

.code-snippet { 
  border-radius: 1em;
  padding: 0.5em; 
  background-color: #efefef;
  overflow-x: scroll;
} 

main slot p code {
    padding: 0;
    outline: none;
    background-color: #efefef;
    font-size: 0.9em;
}

main h2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: bold;
}

.devlog h2 {
    margin-top: 1em;
}

main h3 {
  font-weight: bold;
}

.hero {
    float: right;
}

.logo {
    background-image: url('#URL_ROOT#/img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 3ex;
}

.nav-links {
    float: right;
    padding-top: 0.25em;
    list-style: none;
}

.nav-links li {
    float: left;
    padding-right: 1em;
    margin-top: 0.75em;
}

.logo-link {
  text-decoration: none;
}

.form-error {
    color: red;
}

footer {
    border-top: #efefef 1px solid;
    text-align: center;
    padding: 1em;
    font-size: smaller;
}

th {
    font-weight: bold;
    background-color: #c6d5bc;
}

td {
    border-bottom: 0.1rem solid #e1e1e1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


